<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

<title>清华大学生态规划和绿色建筑教育部重点实验室</title>
</head>
<body >
	<header class="">
		<div class="banner clear_both">
			<div class="logo float-left">
				<img src="../images/logo.png">
			</div>
			<div class="share-and-lang float-right">
				<a class="icon-share"><img src="../images/QQweibo.png"></a>
				<a class="icon-share"><img src="../images/sinaweibo.png"></a>
				<a class="icon-share"><img src="../images/QQzone.png"></a>
				<a class="icon-share"><span>中</span></a>
				<a class="icon-share"><span>EN</span></a>
			</div>
			<div class="search float-right">
				<input type="text">
				<a class="">
					<img src="../images/search.png">
				</a>
				
			</div>
		</div>
		<div class="nav-bar">
			<div class="nav-list">
				<ul class="nav-main clear-both">
					<li><a href="./index.html">首页</a></li>
					<li><a href="./news.html">新闻动态</a></li>
					<li><a href="./laboratory.html">实验室概况</a></li>
					<li><a href="./research-field.html">科研领域</a></li>
					<li><a href="./talents.html">人才培养</a></li>
					<li><a href="./project.html">项目&成果</a></li>
					<li class="active"><a href="./open-communication.html">开放与交流</a></li>
					<li><a href="./cooperation.html">战略合作</a></li>
					<li><a href="./contactus.html">联系我们</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div>
		<img class="laboratory-bg" src="../images/laboratory-bg.png">
	</div>
	<div class="sub-body-container" style="margin-top:-30px;position:relative;">
		<div class="nav-index-wrapper clear-both">
			<div class="nav-index">
				<span>您目前在：&nbsp;</span><span id="first-nav-text"></span><span>&nbsp;&nbsp;•&nbsp;&nbsp;</span><span id="sub-nav-text"></span>
			</div>
			<div class="triangle"></div>
		</div>
		
		<div class="sub-container clear-both">
			<div class="sub-nav">
				<h3>开放与交流</h3>
				<ul class="second-nav">
					<li class="second-nav-li"><a href="">学术交流</a></li>
					<li class="second-nav-li"><a>开放课题</a></li>
					<li class="second-nav-li"><a>学术会议</a></li>
				</ul>
			</div>
			<div class="content-item sub-content-item">
				<div class="clear-both-before item-content sub-item-content">
					<div>	
						<div class="communication-item">
							<h5>2015/12/21</h5>
							<a href="communication-detail.html">清华大学、英国建筑研究院（BRE）与恒大集团在伦敦签署《中英可持续城镇化研究平台协议》</a>
						</div>
						<div class="communication-item">
							<h5>2015/3/15</h5>
							<a href="communication-detail.html">实验室与哈佛、恒大绿色建筑研究基地揭牌，是全球首个国际顶级名校与企业共建的绿色建筑研究平台</a>
						</div>
						<div class="communication-item">
							<h5>2015/2/7</h5>
							<a href="communication-detail.html">清控人居集团携手英国建筑研究院（BRE）与贵州省贵安新区签署三方战略合作协议</a>
						</div>
						<div class="communication-item">
							<h5>2015/1/21</h5>
							<a href="communication-detail.html">实验室与恒大、住建部签订合作协议，开展为期三年的绿色住宅标准化管理体系研究</a>
						</div>
						<div class="communication-item">
							<h5>2014/10/21</h5>
							<a href="communication-detail.html">实验室与英国BRE信托基金签署战略合作协议</a>
						</div>
						<div class="communication-item">
							<h5>2015/12/21</h5>
							<a href="communication-detail.html">清华大学、英国建筑研究院（BRE）与恒大集团在伦敦签署《中英可持续城镇化研究平台协议》</a>
						</div>
						<div class="communication-item">
							<h5>2015/3/15</h5>
							<a href="communication-detail.html">实验室与哈佛、恒大绿色建筑研究基地揭牌，是全球首个国际顶级名校与企业共建的绿色建筑研究平台</a>
						</div>
						<div class="communication-item">
							<h5>2015/2/7</h5>
							<a href="communication-detail.html">清控人居集团携手英国建筑研究院（BRE）与贵州省贵安新区签署三方战略合作协议</a>
						</div>
						<div class="communication-item">
							<h5>2015/1/21</h5>
							<a href="communication-detail.html">实验室与恒大、住建部签订合作协议，开展为期三年的绿色住宅标准化管理体系研究</a>
						</div>
						<div class="communication-item">
							<h5>2014/10/21</h5>
							<a href="communication-detail.html">实验室与英国BRE信托基金签署战略合作协议</a>
						</div>
					</div>

					<div class="float-right">
						<ol class="pagination">
							<li id="prePage" data-index="0"><a href="javascript:void(0);" data-index="0">&lt;上一页</a></li>
							<span id="preSpot" style="display:none;vertical-align:top;line-height:34px;">&#183;&#183;&#183;&nbsp;</span>
<!-- 							<li><a href="" data-index="1">1</a></li>
							<li><a href="" data-index="2">2</a></li> -->
							<span id="nextSpot" style="display:none;vertical-align:top;line-height:34px;">&#183;&#183;&#183;</span>
							<li id="nextPage" data-index="-1"><a href="javascript:void(0);" data-index="-1">下一页&gt;</a></li>
							<span style="line-height: 34px;display: inline-block;vertical-align: top;color: #a9a9a9;">共<span id="total-page">10</span>页,
							到第</span> <input id="inputPage" type="number" name="points" min="1" max="10" placeholder="10" style="position:relative;top:3px;left:0;vertical-align: top;width: 50px;"/><span style="line-height: 34px;display: inline-block;vertical-align: top;">页</span>
							<button id="pageSubmit" style="">确定</button>
						</ol>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<footer>
		<div class="footer-wrapper f-link">
			<div class="content-wrapper">
				<div class="friendship-link">
					友情链接：
					<a href="#">清华大学建筑学院景观学系</a>
					<a href="#">清华大学</a>
					<a href="#">清华大学建筑学院景观学系</a>
					<a href="#">清华大学</a>
					<a href="#">清华大学建筑学院景观学系</a>
					<a href="#">清华大学</a>
					<a href="#">清华大学建筑学院</a>
				</div>
			</div>
		</div>
		<div class="footer-wrapper">
			<div class="content-wrapper">
				<div class="link-title">
					<span class="item-title">关于我们</span>
					<span class="item-title">科研领域</span>
					<span class="item-title">科研与成果</span>
					<span class="item-title">开放与交流</span>
					<span class="item-title">运行管理</span>
				</div>
			</div>
		</div>
		<div class="footer-wrapper footer-bottom">
			<div class="content-wrapper">
				<div class="link-item clear-both">
					<ul class="item-des">
						<li><a>实验室简介</a></li>
						<li><a>主任致辞</a></li>
						<li><a>组织机构</a></li>
						<li><a>历史沿革</a></li>
					</ul>
					<ul class="item-des">
						<li><a>科研领域1</a></li>
						<li><a>科研领域2</a></li>
						<li><a>科研领域3</a></li>
						<li><a>科研领域4</a></li>
						<li><a>科研领域5</a></li>
					</ul>
					<ul class="item-des">
						<li><a>科研课题和项目</a></li>
						<li><a>学术专著和论文</a></li>
						<li><a>专利</a></li>
						<li><a>白皮书</a></li>
					</ul>
					<ul class="item-des">
						<li><a>学术交流</a></li>
						<li><a>开放课题</a></li>
						<li><a>学术会议</a></li>
						<li><a>战略合作</a></li>
					</ul>
					<ul class="item-des">
						<li><a>规章制度</a></li>
						<li><a>年度报告</a></li>
					</ul>
				</div>
				<div class="" style="margin-top:40px;">
					<div class="other-link clear-both">
						<div class="float-left">
							<ul>
								<li><a>联系我们</a></li>
								<li><a>网站地图</a></li>
								<li><a>人才招聘</a></li>
								<li><a>法律责任</a></li>
							</ul>
						</div>
						<div class="float-right">
							<p>Address: School of Architecture Tsinghua University Peking China (100084)</p>
							<p>tel:+86-10-62785693 fax:+86-10-62770314  mail:jzxy@tsinghua.edu.cn</p>
						</div>
					</div>
				</div>
				<img class="qrcode" src="../images/QRcode.png">
			</div>
		</div>
	</footer>
	
</body>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script type="text/javascript" src="../js/views/common.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var currentPage = 1;
	var totalPage = 10;
	initSubNavbar();
	initPagination(totalPage,currentPage);
	
});
</script>

</html>
