<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/swiper.min.css">

<title>清华大学生态规划和绿色建筑教育部重点实验室</title>
</head>
<body >
	<header class="">
		<div class="banner clear_both">
			<div class="logo float-left">
				<img src="../images/logo.png">
			</div>
			<div class="share-and-lang float-right">
				<a class="icon-share"><img src="../images/QQweibo.png"></a>
				<a class="icon-share"><img src="../images/sinaweibo.png"></a>
				<a class="icon-share"><img src="../images/QQzone.png"></a>
				<a class="icon-share"><span>中</span></a>
				<a class="icon-share"><span>EN</span></a>
			</div>
			<div class="search float-right">
				<input type="text">
				<a class="">
					<img src="../images/search.png">
				</a>
				
			</div>
		</div>
		<div class="nav-bar">
			<div class="nav-list">
				<ul class="nav-main clear-both">
					<li><a href="./index.html">首页</a></li>
					<li><a href="./news.html">新闻动态</a></li>
					<li><a href="./laboratory.html">实验室概况</a></li>
					<li class="active"><a href="./research-field.html">科研领域</a></li>
					<li><a href="./talents.html">人才培养</a></li>
					<li><a href="./project.html">项目&成果</a></li>
					<li><a href="./open-communication.html">开放与交流</a></li>
					<li><a href="./cooperation.html">战略合作</a></li>
					<li><a href="./contactus.html">联系我们</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div>
		<img class="laboratory-bg" src="../images/laboratory-bg.png">
	</div>
	<div class="sub-body-container" style="margin-top:-30px;position:relative;">
		<div class="nav-index-wrapper clear-both">
			<div class="nav-index">
				<span>您目前在：&nbsp;</span><span id="first-nav-text"></span><span>&nbsp;&nbsp;•&nbsp;&nbsp;</span><span id="sub-nav-text"></span>
			</div>
			<div class="triangle"></div>
		</div>
		
		<div class="sub-container clear-both">
			<div class="sub-nav">
				<h3>科研领域</h3>
				<ul class="second-nav">
					<li class="second-nav-li has-sub">
						<a title="人居环境科学理论研究">人居环境科学理论研究</a>
						<ul class="third-nav">
							<li class="third-nav-li"><a>&gt;&nbsp;研究内容</a></li>
							<li class="third-nav-li"><a>&gt;&nbsp;研究队伍</a></li>
							<li class="third-nav-li"><a>&gt;&nbsp;研究成果</a></li>
						</ul>
					</li>
					<li class="second-nav-li has-sub">
						<a title="城乡生态规划与生态建设研究">城乡生态规划与生态建设研究</a>
						<ul class="third-nav">
							<li class="third-nav-li"><a>&gt;&nbsp;研究内容</a></li>
							<li class="third-nav-li"><a>&gt;&nbsp;研究队伍</a></li>
							<li class="third-nav-li"><a>&gt;&nbsp;研究成果</a></li>
						</ul>
					</li>
					<li class="second-nav-li has-sub">
						<a title="地区生态诊断与生态修复技术研究">地区生态诊断与生态修复技术研究</a>
						<ul class="third-nav">
							<li class="third-nav-li"><a>&gt;&nbsp;研究内容</a></li>
							<li class="third-nav-li"><a>&gt;&nbsp;研究队伍</a></li>
							<li class="third-nav-li"><a>&gt;&nbsp;研究成果</a></li>
						</ul>
					</li>
					<li class="second-nav-li has-sub">
						<a title="绿色基础设施设计与技术研究">绿色基础设施设计与技术研究</a>
						<ul class="third-nav">
							<li class="third-nav-li"><a>&gt;&nbsp;研究内容</a></li>
							<li class="third-nav-li"><a>&gt;&nbsp;研究队伍</a></li>
							<li class="third-nav-li"><a>&gt;&nbsp;研究成果</a></li>
						</ul>
					</li>
					<li class="second-nav-li has-sub">
						<a title="绿色基础设施设计与技术研究">绿色基础设施设计与技术研究</a>
						<ul class="third-nav">
							<li class="third-nav-li"><a>&gt;&nbsp;研究内容</a></li>
							<li class="third-nav-li"><a>&gt;&nbsp;研究队伍</a></li>
							<li class="third-nav-li"><a>&gt;&nbsp;研究成果</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="content-item sub-content-item">
				<div class="item-header-bar">
					<div class="item-header-text">研究队伍</div>
				</div>
				<div class="clear-both"></div>
				<div class="clear-both-before item-content sub-item-content">
					<!-- <div>
						<h4 style="text-align:center;margin-top:30px;font-size:20px;">各研究方向及研究队伍</h4>
						<table class="table" style="background-color:#fff;margin-top:10px;font-size:16px;">
							<thead>
								<tr style="background-color:#3fb198;color:#fff;">
									<th class="display-none">id</th>
									<th style="width:45%;text-align:center;font-weight:normal;" class="right-border">研究方向</th>
									<th style="width:25%;text-align:center;font-weight:normal;" class="right-border">学术带头人</th>
									<th style="width:30%;text-align:center;font-weight:normal;">学术带头人</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="display-none">1</td>
									<td class="padding-left40 text-align-left right-border">1.人居环境科学理论研究</td>
									<td class="right-border padding-left80">尹稚</td>
									<td class="padding-left60">顾朝林 段进宇 林文棋</td>
									
								</tr>
								<tr>
									<td class="display-none">1</td>
									<td class="padding-left40 text-align-left right-border">2.城乡生态规划与生态建设研究</td>
									<td class="right-border padding-left80">毛其智</td>
									<td class="padding-left60">袁昕 刘宛 张悦</td>
								</tr>
								<tr> 
									<td class="display-none">1</td>
									<td class="padding-left40 text-align-left right-border">3.地区生态诊断与生态修复技术研究</td>
									<td class="right-border padding-left80">杨锐</td>
									<td class="padding-left60">胡洁 刘海龙</td>
								</tr>
								<tr>
									<td class="display-none">1</td>
									<td class="padding-left40 text-align-left right-border">4.绿色建筑设计与技术研究</td>
									<td class="right-border padding-left80">宋晔皓</td>
									<td class="padding-left60">张弘  朱宁</td>
								</tr>
								<tr>
									<td class="display-none">1</td>
									<td class="padding-left40 text-align-left right-border">5.绿色基础设施设计与技术研究</td>
									<td class="right-border padding-left80">朱颖心</td>
									<td class="padding-left60">李先庭 李晓峰</td>
								</tr>
								<tr>
									<td class="display-none">1</td>
									<td class="padding-left40 text-align-left right-border">6.规划和建筑使用后评估研究</td>
									<td class="right-border padding-left80">朱颖心</td>
									<td class="padding-left60">李先庭 李晓峰</td>
								</tr>
							</tbody>
						</table>
					</div> -->
					<h3 style="text-align:center;color:#000;margin-top:40px;">学术带头人</h3>
					<div class="member-item after-line-h30">
						<div class="member-photo"><img src="../images/member-photo-01.png" style=""></div>
						<div class="member-description">
							<h3>尹稚&nbsp;&nbsp;&nbsp;&nbsp;清华大学建筑学院教授，博士生导师</h3>
							<p>清华大学建筑学院教授，博士生导师。中国城市规划学会副理事长、中国城市规划协会副会长、清华大学生态城市与绿色建筑教育部重点实验室主任。兼任多家企业和政府组织的形象和文化建设顾问，并长期担任30余个城市的政府顾问。作为人居环境科学的实践者，1985年以来参与并主持大量城市规划设计工作，主要包括桂林市城市总体规划、中关村西区修建性详细规划、奥林匹克森林公园及中心区详细规划等。在城市规划变革时期，主持大量多学科交融、多专业合作的综合性前沿和创新型项目，形成了一套专门处理综合性、政策性极强的跨行业领域规划设计和研究方法，首次提出IDBO的建设模式和CIM城市信息模型。
							</p>
						</div>
					</div>
					<h3 style="text-align:center;color:#000;margin-top:40px;">主要骨干</h3>
					<div class="member-item after-line-h30">
						<div class="member-photo"><img src="../images/member-photo-01.png" style=""></div>
						<div class="member-description">
							<h3>尹稚&nbsp;&nbsp;&nbsp;&nbsp;清华大学建筑学院教授，博士生导师</h3>
							<p>清华大学建筑学院教授，博士生导师。中国城市规划学会副理事长、中国城市规划协会副会长、清华大学生态城市与绿色建筑教育部重点实验室主任。兼任多家企业和政府组织的形象和文化建设顾问，并长期担任30余个城市的政府顾问。作为人居环境科学的实践者，1985年以来参与并主持大量城市规划设计工作，主要包括桂林市城市总体规划、中关村西区修建性详细规划、奥林匹克森林公园及中心区详细规划等。在城市规划变革时期，主持大量多学科交融、多专业合作的综合性前沿和创新型项目，形成了一套专门处理综合性、政策性极强的跨行业领域规划设计和研究方法，首次提出IDBO的建设模式和CIM城市信息模型。
							</p>
						</div>
					</div>
					<div class="member-item">
						<div class="member-photo"><img src="../images/member-photo-01.png" style=""></div>
						<div class="member-description">
							<h3>尹稚&nbsp;&nbsp;&nbsp;&nbsp;清华大学建筑学院教授，博士生导师</h3>
							<p>清华大学建筑学院教授，博士生导师。中国城市规划学会副理事长、中国城市规划协会副会长、清华大学生态城市与绿色建筑教育部重点实验室主任。兼任多家企业和政府组织的形象和文化建设顾问，并长期担任30余个城市的政府顾问。作为人居环境科学的实践者，1985年以来参与并主持大量城市规划设计工作，主要包括桂林市城市总体规划、中关村西区修建性详细规划、奥林匹克森林公园及中心区详细规划等。在城市规划变革时期，主持大量多学科交融、多专业合作的综合性前沿和创新型项目，形成了一套专门处理综合性、政策性极强的跨行业领域规划设计和研究方法，首次提出IDBO的建设模式和CIM城市信息模型。
							</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<footer>
		<div class="footer-wrapper f-link">
			<div class="content-wrapper">
				<div class="friendship-link">
					友情链接：
					<a href="#">清华大学建筑学院景观学系</a>
					<a href="#">清华大学</a>
					<a href="#">清华大学建筑学院景观学系</a>
					<a href="#">清华大学</a>
					<a href="#">清华大学建筑学院景观学系</a>
					<a href="#">清华大学</a>
					<a href="#">清华大学建筑学院</a>
				</div>
			</div>
		</div>
		<div class="footer-wrapper">
			<div class="content-wrapper">
				<div class="link-title">
					<span class="item-title">关于我们</span>
					<span class="item-title">科研领域</span>
					<span class="item-title">科研与成果</span>
					<span class="item-title">开放与交流</span>
					<span class="item-title">运行管理</span>
				</div>
			</div>
		</div>
		<div class="footer-wrapper footer-bottom">
			<div class="content-wrapper">
				<div class="link-item clear-both">
					<ul class="item-des">
						<li><a>实验室简介</a></li>
						<li><a>主任致辞</a></li>
						<li><a>组织机构</a></li>
						<li><a>历史沿革</a></li>
					</ul>
					<ul class="item-des">
						<li><a>科研领域1</a></li>
						<li><a>科研领域2</a></li>
						<li><a>科研领域3</a></li>
						<li><a>科研领域4</a></li>
						<li><a>科研领域5</a></li>
					</ul>
					<ul class="item-des">
						<li><a>科研课题和项目</a></li>
						<li><a>学术专著和论文</a></li>
						<li><a>专利</a></li>
						<li><a>白皮书</a></li>
					</ul>
					<ul class="item-des">
						<li><a>学术交流</a></li>
						<li><a>开放课题</a></li>
						<li><a>学术会议</a></li>
						<li><a>战略合作</a></li>
					</ul>
					<ul class="item-des">
						<li><a>规章制度</a></li>
						<li><a>年度报告</a></li>
					</ul>
				</div>
				<div class="" style="margin-top:40px;">
					<div class="other-link clear-both">
						<div class="float-left">
							<ul>
								<li><a>联系我们</a></li>
								<li><a>网站地图</a></li>
								<li><a>人才招聘</a></li>
								<li><a>法律责任</a></li>
							</ul>
						</div>
						<div class="float-right">
							<p>Address: School of Architecture Tsinghua University Peking China (100084)</p>
							<p>tel:+86-10-62785693 fax:+86-10-62770314  mail:jzxy@tsinghua.edu.cn</p>
						</div>
					</div>
				</div>
				<img class="qrcode" src="../images/QRcode.png">
			</div>
		</div>
	</footer>
	
</body>
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script type="text/javascript" src="../js/views/common.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	initSubNavbar();
});
</script>

</html>
